<footer class="page__footer">
  <div class="page__footer-citation" style="text-align:center; font-size:0.9rem; margin-top:1rem;">
    <strong>Cite as:</strong><br>
	<a href="experts/">Feuerriegel, S., Barrie, C., Crockett, M. J., Globig, L. K., McLoughlin, K. L., Mirea, D.-M., Spirling, A., Yang, D., ..., Rathje, S., & Ribeiro, M. H.</a> (2026). <em>GUIDE-LLM: A consensus-based reporting checklist for large language models in behavioral and social science. </em><br><br>
	<a href="{{ '/assets/llm-checklist.bib' | relative_url }}" style="text-decoration: underline;">[Cite as BibTex]</a> &middot;
	<a href="{{ '/assets/llm-checklist.ris' | relative_url }}" style="text-decoration: underline;">[Cite as EndNote]</a><br><br>
<!--    DOI: <a href="https://doi.org/10.xxxx/guide-llm" target="_blank">10.xxxx/guide-llm</a><br> -->
    <a href="{{ '/assets/downloads/GUIDE-LLM.docx' | relative_url }}" style="text-decoration: underline;">Download checklist (DOCX)</a> &middot;
    <a href="{{ '/assets/downloads/GUIDE-LLM.tex' | relative_url }}" style="text-decoration: underline;">Download checklist (LaTeX)</a>
  </div>
</footer>
