<footer class="page__footer">
  <div class="page__footer-citation" style="text-align:center; font-size:0.9rem; margin-top:1rem;">
    <strong>Cite as:</strong><br>
    <a href="/experts/">Feuerriegel, S. et al.</a> (2025). <em>GUIDE-LLM: A consensus-based reporting checklist for large language models in behavioral and social science. </em><br>
<!--    DOI: <a href="https://doi.org/10.xxxx/guide-llm" target="_blank">10.xxxx/guide-llm</a><br> -->
    <a href="{{ '/assets/downloads/GUIDE-LLM.docx' | relative_url }}">Download checklist (DOCX)</a> ·
    <a href="{{ '/assets/downloads/GUIDE-LLM.tex' | relative_url }}">Download checklist (LaTeX)</a>
  </div>
</footer>
